body{
  height: 100%;
  background: url('../images/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  font: 300 1.5em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
  position: static;
}
.admin-application{
  display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.menu{
    position:absolute;
    left: 43.5%;
    top: 20%;
    font-size: 58px;
}
.ship{
  display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  top: 50%;
  left: 20%;
}
.rules{
     display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  top: 70%;
  left: 5%;
}
.admin-rule{
    display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  top: 70%;
  left: 35%;
}
.spam{
     display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  top: 70%;
  left: 65%;
}
.bottom{
     position: absolute;
    height: 200%;
    width: 100%;
    bottom: -2000px;
    background-color: #FFF;
    transition: 1s;
    border-top: 18px solid rgb(255, 255, 255);
    left: 0%;
}
.spam:hover{
     background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.admin-rule:hover{
     background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.rules:hover{
     background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.ship:hover{
    background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.admin-application:hover{
    background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.rule-set{
    color: black; 
     font-size: 1em;
}
.rules-2{
    height: 500px;
    width: 600px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    left: 25%;
    top: 2%;
    border-radius: 50px;
    text-align: center;
    padding-top: 5%;
     font-size: 1em;
}
.nsgbChat{
    position: absolute;
    font-size: 28px;
    left: 1%;
    top: 0.3%;
     font-size: 1em;
}
.spam-section{
      height: 500px;
    width: 600px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    left: 25%;
    top: 50%;
    border-radius: 50px;
    text-align: center;
    padding-top: 5%;
     font-size: 1em;
}
.message{
    visibility: hidden;
}
.info{
    color: black;
}

@media screen and (max-width: 838px){
    .admin-application{
        visibility: hidden;
    }
    .menu{
        visibility: hidden;
    }
    .ship{
        visibility: hidden;
    }
    .rules{
        visibility: hidden;
    }
    
    .admin-rule{
        visibility: hidden;
    }
    .spam{
        visibility: hidden;
    }
    .bottom{
        visibility: hidden;   
    }
    .nsgbChat{
        visibility: hidden;
    }
    .message{
        visibility: visible;
        font-size: 48px;
        position: absolute;
        top: 20%;
        left: 25%;
         font-size: 1em;
    }
}